[2017-04-28 04:59] alexanderepstein opened #1 "Package For All Platforms"
Need to implement distribution packages of electron application

[2017-04-28 12:56] alexanderepstein opened #2 "Timing Issues"
Sometimes the time doesn't pick the correct day for of that time.

[2017-04-28 12:57] alexanderepstein opened #3 "CSS/Bootstrap"
At the moment I've been utilizing inline HTML styling this should be transferred over to a CSS file and implemented.

[2017-04-28 17:59] alexanderepstein commented on #2
fixed with commit 8584f3b2999f48808c57ff6a4f298654d58ff769

[2017-04-28 17:59] #2 closed

[2017-04-28 22:17] alexanderepstein opened #4 "Settings"
Add persistent settings for the default wake up time. Possibly even a schedule of default times depending on day and whether shown times should be in military time or 12 hour time.

[2017-04-28 22:21] alexanderepstein commented on #1
Done with 64 bit versions still need mac 32 bit version along with debian 32 bit and both 64 + 32 bit for rpm

[2017-04-28 23:56] alexanderepstein opened #5 "Google Calendar Integration"
Set up the sleep times to add google calendar events that will notify you on your phone even if you have closed your computer but remain busy with other shenanigans.

[2017-04-29 00:59] alexanderepstein commented on #4
Added preferences just for visual has no functionality yet.

[2017-04-30 01:58] alexanderepstein commented on #4
Preferences has a default wakeup time and whether to display values in military or standard time!

[2017-04-30 01:58] #4 closed

[2017-04-30 02:39] alexanderepstein commented on #1
Did 32 bit debian version.

[2017-04-30 03:10] alexanderepstein opened #6 "Persistent Storage Faulty"
The persistent storage works until the application is packed into a deb and then the settings do not remain persistent when the application is installed.

[2017-04-30 03:57] alexanderepstein opened #7 "App Needs Restart For Preferences To Take Effect"
# Problem
   *  Because the preferences page is a different html file when running scripts spawned from there the use of document.getElementByID will not effect elements on the index html because that's not what this command refers to somewhat like being out of scope

# Two Solutions:
* Suck It Up
Just add text to the preferences html that warns the user that a relaunch of the application is requi

[2017-04-30 03:58] alexanderepstein commented on #6
Fixed this I set the preferences with incorrect formatting for my text parser function 8515b169db6901794e20cb02bfbb69786d2b0ba0

[2017-04-30 04:00] alexanderepstein opened #8 "Split Javascript Functions"
Split up the functions into multiple files so they are more categorized and OOP like.

[2017-04-30 04:57] alexanderepstein opened #9 "Add Native Notifications As Setting"
https://www.npmjs.com/package/node-notifier

[2017-04-30 21:43] alexanderepstein commented on #6
Seems to have been fixed with the chmod function

[2017-04-30 21:43] #6 closed

[2017-04-30 22:18] alexanderepstein commented on #1
RPM not happening unless i run a red head distribution. Mac 32 bit version wont work and windows 32 Bit Version Added.

[2017-04-30 22:18] #1 closed

[2017-05-01 04:31] alexanderepstein opened #10 "Run Application On Startup"
Possibly implement this
https://github.com/Teamwork/node-auto-launch
Only downside is after removing my program the files created by the auto launch will still be present.

[2017-05-01 04:32] alexanderepstein opened #11 "Auto Update"
The application doesn't have to download and upgrade updates straight from the app, but it would be preferential for the application to let you know an update exists.

[2017-05-01 06:03] alexanderepstein opened #12 "Uptime Notification"
Every x hours or so grab the uptime of the computer if its over my default or a user preference it will notify you for a computer restart to improve the efficiency of the computer.

[2017-05-01 06:49] alexanderepstein opened #13 "Brightness Slider"
Look into modifying the notification dependency so that a slider will also appear to control screen brightness. Possibly make it a preference to have the brightness lower x percent for each notification you ignored.

https://github.com/kevva/brightness

[2017-05-01 16:33] alexanderepstein commented on #13
Utilizing this library requires sudo permissions which means its a no go

[2017-05-01 16:33] #13 closed

[2017-05-01 19:32] alexanderepstein commented on #12
First implementation attempt a06a0ba05bb25648c91b4d3e75837706c1b80e50 (hard to test since to truly test i have to wait an hour) and no preference is built in right now to turn this off

[2017-05-01 22:02] kaushikpraveen commented on #3
Hi, I would really like to to help out with this issue.
I can prepare the CSS file for all the inline styling.

[2017-05-01 22:08] alexanderepstein commented on #3
@kaushikpraveen that would be so awesome! If your up for it fork this repository and do all your work on your repo and when youre done submit a pull request and i will merge it over to the master branch.

[2017-05-01 22:11] alexanderepstein commented on #3
@kaushikpraveen If you know anything about bootstrap I was thinking of implementing some of those stylings for my buttons and input fields so if that makes sense to you/is of interest to you having a bootstrap implementation would be awesome.

[2017-05-02 00:40] alexanderepstein opened #15 "Sleep Tracking"
I think insomnia has the potential to be a decent sleep tracking application with quick modal questions to generate data and visualize this data onto plots. This data can then be used to help better regulate your sleep cycles by changing the algorithm that tells you when to go to bed.

[2017-05-02 02:09] karuppiah7890 opened #16 "Get GitHub Issue templates for people to report issues"
@alexanderepstein Something like this : https://github.com/atom/atom/blob/master/ISSUE_TEMPLATE.md

And when people find errors they should be able to land on the Issue Report web page directly from the App with a click, just an easy way for them to reach the page if they aren't coders or techy people.

[2017-05-02 02:11] karuppiah7890 opened #17 "App should remember the sleep time set"
When I close the App after setting the sleep time and consequently setting notifications, when I reopen the App, it should open with the time I had set already, but this doesn't happen currently.

It would be nice to see the already set time when the App is reopened.

[2017-05-02 02:20] manparvesh opened #18 "Option to choose times for notifications"
I would be great if we can choose the times at which notifications should be displayed.
For example, if I set wake-up time to 7:00 a.m., the notifications start at 9:45 p.m, which seems too early (at least for me). So if I am able to set the notifications to start after, say, 11 pm, it would be better in my opinion.
What do you think?

[2017-05-02 02:20] karuppiah7890 opened #19 "UI/UX Problems and suggestions in Shutdown button in notification"
Hey @alexanderepstein
I think the "Shutdown" button should be renamed as "Shutdown Computer". Just a suggestion.

And I think it would be better to confirm with the user about shutting down the computer instead of abruptly shutting it down. Why ? because the user might click the wrong button in a hurry or by mistake and this would lead to abrupt shutdown, and he/she might lose any unsaved changes

[2017-05-02 02:33] alexanderepstein commented on #17
The application should open with your default wake up time set to the current wake up time. I was thinking of storing a temp time just in case the preference of the user was different then the time they had chosen for that particular night.

[2017-05-02 02:35] alexanderepstein commented on #19
I think I am going to implement both of your suggestions, I definitely agree it may have been a little risky to just have a shutdown button with no confirmation.

[2017-05-02 02:40] alexanderepstein commented on #16
I definitely agree I should link to report a bug in my code but i am skeptical of adding an issue template. The only reason being i think it detracts some users from submitting a bug because they dont want to take the time to meet the standards of the template

[2017-05-02 02:42] alexanderepstein commented on #18
I could easily implement something like this but I generate 6 optimal sleep times. So if you put this constraint on the application the 6 generates sleep times will remain the same however it would only show a notification for the ones after your set time. Does that still suit your needs?

[2017-05-02 02:52] alexanderepstein commented on #19
@karuppiah7890 do you think its enough to have it show another notification but with the message 'are you sure you want to shutdown' with the options of yes and no. If you wait to long the notification would assume you meant no.

[2017-05-02 03:08] alexanderepstein commented on #16
I added a report a bug menu item in the insomnia application.

[2017-05-02 03:19] manparvesh commented on #18
Yes, that is exactly I am trying to say.
Thank you

[2017-05-02 03:20] johnwatsondev opened #20 "Can we use brew install this APP in Mac?"

[2017-05-02 03:24] alexanderepstein commented on #20
At the moment no, but I was looking into the idea of making a cask from what I understand though having a package on any major distribution platform subjects it to abunch of heavy constraints about file structure etc...

[2017-05-02 03:30] rockchalkwushock commented on #20
@alexanderepstein so when I did:

[code]

[2017-05-02 03:38] alexanderepstein commented on #20
If you run that and it's an app that functions like mine maybe someone else got that running for me and didn't let me know but I doubt it.

[2017-05-02 03:42] rockchalkwushock commented on #20
Looking like no 👍

![screen shot 2017-05-01 at 10 41 28 pm](https://cloud.githubusercontent.com/assets/19720404/25603211/621f5502-2ebf-11e7-94a0-7c791d2e8237.png)

[2017-05-02 03:44] alexanderepstein commented on #20
Ahh funny enough that's actually another application written in the electron framework named Insomnia and I didn't realize that it existed for a while. Because of that application if mine continues to grow in popularity I will give it a unique name.

[2017-05-02 03:50] alexanderepstein commented on #18
@manparvesh I will implement this tomorrow. I am going to be releasing a new version that has some automation for the update process built in but still not perfect.

[2017-05-02 03:50] #18 closed

[2017-05-02 03:50] #20 closed

[2017-05-02 04:57] karuppiah7890 commented on #19
Yes, that should do! :smile:

[2017-05-02 05:00] karuppiah7890 commented on #17
Yes, having user preferences for such stuff should be good. You just have to plan out the UI/UX for this so that it's easy for the user to manage his/her preferences and also know the default settings

[2017-05-02 05:15] karuppiah7890 commented on #16
I get it that many users may not want to submit bugs if the issue template is big and stuff.

But I think you could have a simple issue template, like asking these details :

Description of bug or feature enhancement :
OS and OS version :
Version of Insomnia Application :

These are basic details that you will however need, which you will ask in comments if you don't get it from user through the t

[2017-05-02 05:19] alexanderepstein commented on #16
I see what you mean and its a fair point you've convinced me to implement a very loose ruled template

[2017-05-02 05:20] alexanderepstein commented on #11
I got a version of this that works just as well as I'd like it to

[2017-05-02 05:20] #11 closed

[2017-05-02 05:22] alexanderepstein commented on #19
@karuppiah7890 implemented in latest commit :) will be available with next release I just have a few more new preferences to add and have to package them for all platforms again.

[2017-05-02 05:22] #19 closed

[2017-05-02 05:24] karuppiah7890 commented on #19
Cool !

[2017-05-02 12:25] sachinkamath opened #21 "Move packages to Github from Dropbox"
It'd be better to have it here on [Github as releases](https://help.github.com/articles/creating-releases/) so that users don't really have to click on external links to download the binary files.

[2017-05-02 13:28] luchillo17 opened #22 "[Feat] Consider people chronotypes"
Dr. Michael Breus gave a talk in Kwik Conference about Sleep and peoples chronotype, he talks about how each people chronotype affects the actual lenght of the sleep cycle.

According to his research each people cycle has a different lenght based on their Chronotype, some are longer, some shorter, the average is indeed 90 min, with 5 cycles giving an optimal total sleep time of 7.5 hours.

Giving

[2017-05-02 14:30] brunopulis commented on #3
I suggest revising the semantics and accessibility as well. This issue I can look =)

[2017-05-02 14:50] kaushikpraveen commented on #3
Forked it, will submit the pull request soon.
Yes, I can implement Bootstrap on button & Input fields if you want.

[2017-05-02 15:53] zomars commented on #21
Also...
<img width="582" alt="captura de pantalla 2017-05-02 a las 09 52 51" src="https://cloud.githubusercontent.com/assets/3504472/25626558/22ef644a-2f1d-11e7-81bc-2a5489ee51cd.png">

[2017-05-02 15:55] zomars commented on #15
I use an app called Sleep Cycle for sleep monitoring, it uses the microphone and generates all this kind of data. Maybe you could get some inspiration from it or make it compatible. Nice work so far BTW.

[2017-05-02 16:01] alexanderepstein commented on #21
Ill get right on that... I had no idea i was generating to much traffic

[2017-05-02 16:05] alexanderepstein commented on #22
@luchillo17  This is so cool and i would love to implement this in an upcoming release do you have any links you recommend to learn about chronotypes?

[2017-05-02 16:10] alexanderepstein commented on #21
When I tried to add the binaries to the my github release for version 1.2.0 github seems to not even try to upload it would it be easier if created a branch containing the builds and the links will download the file from there?

[2017-05-02 16:14] alexanderepstein commented on #3
@kaushikpraveen Looks like someone already started to work on a transfer of html inline styling over to css https://github.com/priscilamtzfraire/Insomnia/commit/91910fbdbb965e8f3e0e742a9a204171a86e44c7 However i still would really love a bootstrap implementation to clean up the U.I., maybe you two could work together on accomplishing this.

[2017-05-02 16:16] alexanderepstein commented on #3
@brunopulis I dont even truly know what that means but it sounds like something involving html and css that im probably going to want. Like i said in previous comment someone has started the move from html to css so if  what you're talking about requires these files wait until the PR is submitted and pulled over to the master branch.

[2017-05-02 16:26] zomars commented on #21
@alexanderepstein do you have any adblockers enabled? That's has disrupted the uploader for me in the past.

[2017-05-02 16:37] zomars opened #23 "[RFC] Add how to generate binaries from source in the docs"
I've never used electron before, so a little how-to would be nice.

[2017-05-02 16:38] alexanderepstein commented on #23
Yeah i can add to the readme sometime today :)

[2017-05-02 17:00] alexanderepstein commented on #21
Got it sorted out, all future downloads can now be found under their respective release

https://github.com/alexanderepstein/Insomnia/releases/tag/v1.2.0

[2017-05-02 17:00] #21 closed

[2017-05-02 18:01] alexanderepstein commented on #16
@karuppiah7890 I implemented a very loose version, thanks for the tip

[2017-05-02 18:01] #16 closed

[2017-05-02 18:02] alexanderepstein commented on #23
Added in commit cc841dea97d05233ee4d48684a5dd3ac7178f5a1

[2017-05-02 18:02] #23 closed

[2017-05-02 18:24] zomars commented on #23
nice! Thank you!

[2017-05-03 00:31] #17 closed

[2017-05-03 02:10] luchillo17 commented on #22
Truth to be told, i don't, i just recently watched the conference, though i had to buy the conference pack.

The conference was from Jim Kwik (yes that's his name), and he's supposed to be the guru in Master Memory and Accelerated Learning, and Dr. Michael Breus was talking about how sleep affects brain performance on memory, learning and thinking.

Since i bought the conference i don't know if it

[2017-05-03 03:23] brunopulis commented on #3
@alexanderepstein OK I wait the PR

[2017-05-03 03:58] alexanderepstein opened #25 "Update The Preferences Window"
**Issue Label:** [Enhancment]

**Description of bug or feature enhancement:**
Update the U.I. and logic behind the preferences window so it is easy to add new preferences and it is easier for the user to change them.

**OS and OS version:*All*

**Version of Insomnia Application:*1.2.0*

[2017-05-03 04:37] alexanderepstein commented on #12
Done Have it checking every 3 hours if users uptime is over 12 hours

[2017-05-03 04:37] #12 closed

[2017-05-03 04:43] alexanderepstein commented on #9
Dont think i like this idea anymore if somebody does comment on this and i might implement for the hell of it

[2017-05-03 04:43] #9 closed

[2017-05-03 04:46] alexanderepstein opened #26 "Clean Up The File Structure Of The Master Branch"
# I NEED TO CLEAN THE FILE STRUCTURE OF THE ENTIRE REPO ITS HARD TO LOOK AT CURRENTLY

#### All the while changing none of the functionality of the program

[2017-05-03 04:57] alexanderepstein opened #27 "Speed Up Packaging For All Platforms + Have Installers For Mac and Windows"
**Issue Label:** [Enhancement]

**Description of bug or feature enhancement:**
It takes to long currently to build out a new release even after the code is done (about 2 hours) and it is only because i have to be running the target OS.
Solution lies here https://github.com/electron-userland/electron-builder and in my package.json

**OS and OS version:**
All Platforms & Architectures Possible

**Ve

[2017-05-03 06:23] priscilamtzfraire commented on #3
I already finished the CSS part, but I think it would be awesome to have an option for themes or something similar. Let me know your thoughts about this :)

[2017-05-03 07:17] alexanderepstein commented on #3
@priscilamtzfraire  I do think that would be pretty cool althgough I'm not sure if id would be very good at implementing it. Also would you mind adding back your version of the about page I liked it a lot more than the dialog and i was sad to see it go with the merge resolve

[2017-05-03 07:19] alexanderepstein commented on #3
@priscilamtzfraire by the way i love how the application looks now thank you so much for all your work so far

[2017-05-03 07:40] alexanderepstein commented on #3
@priscilamtzfraire I actually was able to figure out how to add back your about.html setup :)

[2017-05-03 07:57] alexanderepstein commented on #3
@brunopulis its all good to go for you to add the semantics and accessibility

[2017-05-03 07:59] alexanderepstein commented on #25
Done with commit ff173892de657207c7e4534a159cda64913835bc

[2017-05-03 07:59] #25 closed

[2017-05-03 08:00] kaushikpraveen commented on #3
@priscilamtzfraire I agree with Alex, you've done a great job converting the css code.👍
@alexanderepstein If its fully done, Shall I go & implement the Bootstrap part if its still needed?

[2017-05-03 08:06] alexanderepstein commented on #3
@kaushikpraveen do you think bootstrap is still necessary? Im not quite sure, but if you think it will further improve the U.I. Id love to see it happen

[2017-05-03 13:59] karuppiah7890 opened #29 "No system menu options for Debian ?"
**Issue Label:** [Bug]

**Description of bug or feature enhancement:** I don't see any system menu options on the top right for Insomnia like in the README gif in which I can choose preferences and stuff.

**OS and OS version:** Ubuntu 16.04

**Version of Insomnia Application:** Insomnia1.2.0 amd64

[2017-05-03 14:04] priscilamtzfraire commented on #3
Thank you guys! It was great to read your comments. This is a cool project and I wanted to work on it to make it better. I'll be around to see If I can be of assistance

[2017-05-03 14:43] brunopulis commented on #3
@priscilamtzfraire  It was very well organized CSS congratulations, I would recommend only to change the ID manipulation by CLASS :)

[2017-05-03 14:47] brunopulis commented on #3
@alexanderepstein I think I could use a lighter library than Bootstrap, for example:

* [Bulma](http://bulma.io/)
* [PureCSS](https://purecss.io/)

[2017-05-03 15:09] alexanderepstein commented on #29
@karuppiah7890

I use a distribution that uses Ubuntu as its basis and actually the version of Ubuntu you described is technically the one I'm on.

But that's weird, I noticed that if i try to run the application with sudo privileges this occurs but haven't seen it otherwise. Does this occur if you clone the repository and run the code in an uncompiled version? I want to know if what is broken her

[2017-05-03 15:15] alexanderepstein commented on #3
@brunopulis Those both look pretty cool I didn't even know other bootstrap like libraries existed. If you wanted to fork the new code and implement what you have just described that would be awesome. maybe @kaushikpraveen can help out if its required

[2017-05-03 15:15] karuppiah7890 commented on #29
No, I never get the Icon in my system menu. I run it with normal
privileges, and not even through CLI. But I just tried with CLI too, with
and without sudo, all lead to same result - no system menu icon. And yes, I
actually cloned once recently and tried the app like that too, and no, I
don't see the system menu icon. Only after learning from your README I
understood that I have to use system menu

[2017-05-03 15:17] alexanderepstein commented on #29
try running

   sudo apt-get install libappindicator1

I think I just found a dependency for this to work

[2017-05-03 15:31] karuppiah7890 commented on #29
Woah! Cool! Works now!! Thanks man :smile:

[2017-05-03 15:32] karuppiah7890 commented on #29
I guess I need to create an Electron App myself with all these features, to learn all the Ups and Downs.

[2017-05-03 15:35] alexanderepstein commented on #29
@karuppiah7890 glad to hear it works :) I am going to add this code block to the readme so other people dont have the same problem in the future and yes it is definitely the best way to learn the framework. This is my first electron application with some tinkering and lots of google searches I haved seem to figure out the flow of electron

[2017-05-03 15:35] #29 closed

[2017-05-03 15:37] karuppiah7890 commented on #29
Cool. I once created a very simple electron app. But I didn't learn to bundle them properly, and for different OSs that too. And my executables were very big too. May be I will see your repo and other repos to see about bundling and how to make bundle size less. :smile:

[2017-05-04 03:47] luchillo17 opened #30 "[Bug] Default settings for Wake-Up time not working since V1.2.0 [WINDOWS]"
**Issue Label:** Bug

**Description of bug or feature enhancement:**
When updated to version 1.2.0 suddenly the default Wake-Up time doesn't get saved any more, i can go to the tray icon, open preferences from right click menu, set time to 5 am instead of the initial default 8:30, click the set button and close such window, if i go and open preferences again, the time is back to 8:30.

**OS and OS

[2017-05-04 04:25] alexanderepstein commented on #30
@luchillo17
Interestingly enough i was able to reproduce your bug everytime, however when running the full source code uncompiled it works. For now I would say just downgrade to 1.2.0. I am planning on releasing version 1.3.0 tomorrow which contains a whole new way of storing the settings that is more reliable.

[2017-05-04 12:21] alexanderepstein commented on #30
@luchillo17 updated to 1.3.0

[2017-05-04 12:33] alexanderepstein opened #31 "Port To Python or Java"
**Issue Label:** [Enhancement]

**Description of bug or feature enhancement:**
Port the entire function and design of the program of the program to python. The binary size is unnecessarily large compared to the amount of code I've written and this stems from the use of electron. At first I thought it would just be a fun way to learn javascript and this framework but since this is growing in popula

[2017-05-04 12:46] alexanderepstein opened #32 "Close On X Bug [MAC]"
**Issue Label:** [Bug]

**Description of bug or feature enhancement:**
Application will not close even if close on x preference is set.

**OS and OS version:**
Mac 10.12.4

**Version of Insomnia Application:**
1.3.0

[2017-05-04 16:24] luchillo17 commented on #31
What's exactly the part of the app that takes memory, `electron` or the app itself made in `JS`?

Also idk much about `Python`, how portable is it? can you still generate bundles for Windows, Mac and Linux(though idk if you actually deliver one for Linux) from `Python`?

[2017-05-04 16:26] luchillo17 commented on #30
Nice 😄

[2017-05-04 16:53] alexanderepstein commented on #31
@luchillo17 It is mostly electron that is the issue. Electron package are bundled with chromium and utilize that to render the application. The application will take up more memory than it should for just having a blank window with no functionality.

[2017-05-04 17:23] karuppiah7890 commented on #31
I get it that the binary size is big, but have you considered checking how other softwares keep up with it ? Something like [LightTable](https://github.com/LightTable/LightTable). All their binaries are within 50-60 MB range - [LightTable site](http://lighttable.com/)

[2017-05-04 17:23] karuppiah7890 commented on #31
And they already have lots of code

[2017-05-04 17:31] alexanderepstein commented on #31
@karuppiah7890 the difference however lies within our purpose and end result although yes you are correct that a lot of applications do run to be this size these applications generally also do a  lot more. A code editor with syntax highlighting, linting etc is doing a lot more and can justify that binary size of theirs. What my application actually does is relatively simple and shouldn't be hard o

[2017-05-04 17:42] karuppiah7890 commented on #31
Ah, yeah, you make sense. Agreed.

[2017-05-04 19:04] CharlonTank opened #33 "[bug] notification"
**Issue Label:** [Bug,Feature,Enhancement]
BUG

**Description of bug or feature enhancement:**
The notification : "Your computer need a break" shows up like 100 times instantly

**OS and OS version:**
OS X EL CAPITAN 10.11.6

**Version of Insomnia Application:**
1.2.0

sometimes it's like this :
![screen shot 2017-05-04 at 20 59 14](https://cloud.githubusercontent.com/assets/4601603/25720291/a101b

[2017-05-04 19:23] luchillo17 commented on #31
@alexanderepstein It makes sense, indeed the actual functionality doesn't justify the bundle size.

However have you already tested such alternative on Python and confirmed that the simple empty page example is smaller in Python than in Electron?, unless the difference is big, the cost of swapping the full app may not be worth it.

[2017-05-04 19:48] alexanderepstein commented on #33
Try updating to 1.3.0 and let me know if that still occurs

[2017-05-04 23:48] #33 closed

[2017-05-05 00:02] alexanderepstein commented on #31
@luchillo17 you are correct i have yet to test it, however i know that python scripts are relatively small hopefully the packaging would only increase that by a little bit. I think the only reason it may not be worth it is if i decided to go in the direction of https://github.com/alexanderepstein/Insomnia/issues/15 because with the current setup it is easier to add features as the npm library is m

[2017-05-05 00:06] luchillo17 commented on #31
Well i would like for you to expand on it, specially on the Chronotypes Quiz and Settings issue i put, which still has no answer #22

[2017-05-05 00:10] alexanderepstein commented on #22
@luchillo17 I did look into this, it is hard to find an algorithm that i could implement myself to determine this trait. Although the quiz exists online I'm not sure how the answers end up with a result. So this would be hard to implement while keeping it inside of my application ex. without sending you to your browser to take the quiz online somewhere else and enter the results back into the appl

[2017-05-05 00:12] alexanderepstein commented on #31
@luchillo17 sorry meant to answer that previously and i hope i have the ability to expand on it as well this issue is here just to remind me to justify or remove this problem

[2017-05-05 00:12] alexanderepstein commented on #27
Mac installer added with https://github.com/sindresorhus/create-dmg

[2017-05-05 00:13] alexanderepstein commented on #27
windows installers suck, i think exe for windows will just have to stay

[2017-05-05 00:13] #27 closed

[2017-05-05 00:14] #22 closed

[2017-05-05 00:14] #7 closed

[2017-05-05 00:19] luchillo17 commented on #30
@alexanderepstein Actually the app showed me a popup and sent me to the update page... of V1.2.0, maybe it's better to just send the user to the general releases url instead of the url of the next version, after all the most recent version will still be first in that url:
https://github.com/alexanderepstein/Insomnia/releases

[2017-05-05 00:21] luchillo17 commented on #30
Tested V1.3.0 and settings save correctly, now what i see is that no matter what i choose, the time is always in military mode.

[2017-05-05 00:28] alexanderepstein commented on #30
@luchillo17 huh thats so weird since the default time preference and the military time preference both utilize the same logic. I did realize however i was sending the user to the current release of Insomnia and that still exists in 1.3.0. Just a variable name change and it should work now. I will have to test out the military time thing on a windows system to check out the console and see if and e

[2017-05-05 01:04] DavidWigley commented on #31
@alexanderepstein Write a small program in each language. Test functionality and binary size if that is the main concern. Also writing in Java may require a JVM to run...not sure if Python needs any additional overhead to run.

If you like the results from a small program with VERY basic functionality then you can begin porting more and more portions. The first step is definetely writing smaller p

[2017-05-05 02:26] luchillo17 commented on #31
I'm mostly specialized on JS, now making the ultimate task scheduler with electron, and i'm very happy with it, though mine does pack considerable UI features, and since it needs to make important tasks like connecting API's and executing scripts, i've always considered the architecture and functionality over the bundle size.

However if you make @DavidWigley suggested tests and are satisfied with

[2017-05-05 02:30] luchillo17 commented on #30
What's broken is not the preferences save, is the display between military and default mode, if i change between them, the time still shows in military mode.

Btw could you make available the DevTools? most of us in github are developers, and we can help debug the issue if we can reach the DevTools, but so far i see no button and none standard keyboard shortcuts works.

[2017-05-05 03:18] luchillo17 commented on #22
I'm digging on it and it seems there's many models of such quiz, though deciding which one works better is the real issue here, those quizzes and their result are most of them open in science papers, though the one made by Dr. Michael Breus can't find it, most likely i'll have to buy the book, and even then i don't think the actual quiz scoring strategy is there.

[2017-05-05 03:51] alexanderepstein commented on #30
@luchillo17 I know what the issue is it has to do with the declaration of a different settings variable in main.js versus script.js. I need to implement a mixture between my old settings methodolgy and my new one. As for devtools I don't think it would look nice to have a button for it and when you don't have them set up to open the keyboard shortcuts doesn't work either. To see the devtools you'l

[2017-05-05 06:25] alexanderepstein opened #34 "PLEASE TAKE THIS SURVEY TO DECIDE THE NEXT DIRECTION OF INSOMNIA"
https://www.surveymonkey.com/r/M7RYJX5

[2017-05-05 11:29] hjri commented on #9
notifications look horrendous on KDE and out of place, not following global settings for notifications

[2017-05-05 15:56] alexanderepstein commented on #9
@hjri I'm not sure if you just hate the way my notifications look or if they specifically look different on your environment. If i use native notifications i don't get to assign buttons to the notification.

[2017-05-05 15:59] alexanderepstein commented on #32
Should be fixed with 1.4.0

[2017-05-05 15:59] #32 closed

[2017-05-05 16:00] alexanderepstein commented on #30
Hopefully all this is fixed in 1.4.0

[2017-05-05 16:00] #30 closed

[2017-05-06 04:57] alexanderepstein commented on #34
Going with lightweight bash version as well to do simple rest awareness and uptime notifcation hopefully can also implement update check

[2017-05-06 04:57] #34 closed

[2017-05-06 04:59] alexanderepstein commented on #31
Going with lightweight bash version as well to do simple rest awareness and uptime notifcation hopefully can also implement update check

# GUI Version
* Will remain written in electron framework
* Will be extended and improved upon until it becomes the ultimate sleep application

# Bash Version
* Will maintain very similar function to GUI Version 1.4.1
* Will only notify user and show notificatio

[2017-05-06 04:59] #31 closed

[2017-05-06 16:06] northern11 opened #35 "Application Provides Break Notification Out of Sync With Time"
**Issue Label:** [Bug,Feauture,Enhancement]
Notification at the Wrong Time

**Description of bug or feature enhancement:**
I set my time to wake up at 6:30am the next day at 12:05 PM today and then closed the app, but the app has two notifications pop up every 2 minutes or so saying my computer needs a break with the option to dismiss or restart.

I installed the application last night and set a t

[2017-05-06 16:50] alexanderepstein commented on #35
I have noticed this as well it stems from not shutting down the computer when you go to bed (an assumption I made) although I found I don't really do this either. I've already thought of a fix that includes maximizing the duration of the notification to infinity (you have to click on it, swipe right or click dismiss for it to go away) which will allow me to make sure only one notification of each

[2017-05-06 16:55] northern11 commented on #35
You are correct that it happened probably cause I didnt shut my computer
off. The infinity time on the notification sounds like a good fix.

The other issue was the program did not reset itself for the next day. I
tried to use the program for today and it was still notifying me for
yesterday I think cause 2 notifications were popping up every 2 minutes so
I had to shut it off.

On May 6, 2017 12:5

[2017-05-06 16:59] alexanderepstein commented on #35
Were they rest notifications? That shouldn't happen the way the scheduling works is it uses an exact date not a time so notifications for yesterday should never show up today.

[2017-05-06 17:10] northern11 commented on #35
I am not sure if they were actually from yesterday or not. I just assumed
because I have not shut off my computer since I installed the app last
night. They seemed to happen after I set my wakeup time for tomorrow. It
was a little annoying that two notifications would show up as well to "
Dismiss" or "Restart."

On May 6, 2017 12:59 PM, "Alex Epstein" <notifications@github.com> wrote:

[2017-05-06 17:24] alexanderepstein commented on #35
I also made sure only one notification of that type should show up. I hope this commit  29f0eb9f100b3e832561e6554adff0ec484a1982 works out all the kinks you described above. It seems to work with the rest notification and should work with the uptime notification as well. I also reset the new sleep times of the day one hour after your last possible rest notification.

[2017-05-06 17:24] #35 closed

[2017-05-06 17:25] northern11 commented on #35
I just ran the app and set it again and I'm not getting any notifications
like before.

On May 6, 2017 1:10 PM, "Matt Roberts" <robertsak@gmail.com> wrote:

[2017-05-06 17:27] alexanderepstein commented on #35
Are you using the version i just pushed or the the application version of 1.4.1?

[2017-05-06 17:31] alexanderepstein commented on #3
I am beyond satisfied with the current GUI and the ability for me to add new elements to each page is beyond simple thanks so much @priscilamtzfraire

[2017-05-06 17:31] #3 closed

[2017-05-06 17:33] northern11 commented on #35
1.4.1 right now. No automatic updates right? When installing yesterday your
download link didnt work for a second, but you must have been updating. How
do I enact the recent update?

On May 6, 2017 1:28 PM, "Alex Epstein" <notifications@github.com> wrote:

[2017-05-06 17:35] alexanderepstein commented on #35
Your bug that i hopefully fixed will be version 1.4.2 it hasn't been released yet. I was curious if you were running my application through the electron framework. Hopefully ill have the update released by tonight

[2017-05-06 17:40] northern11 commented on #35
I dont know what electron framework is so can't say. Thanks for providing
this app. I have shift work starting next week so I'm hoping this can help
me get good sleep even in weird hours

On May 6, 2017 1:35 PM, "Alex Epstein" <notifications@github.com> wrote:

Your bug that i hopefully fixed will be version 1.4.2 it hasn't been
released yet. I was curious if you were running my application throug

[2017-05-06 19:30] nicholaslgoodman opened #36 "No System Tray Icon"
**Issue Label:** [Bug]

**Description of bug or feature enhancement:**
Note: libappindicator1 is installed. I even tried reinstalling it.

There is no system tray icon. Minimizing the program just makes it disappear into the background. (As an aside, this generates three processes, two with absurdly long names.)

**OS and OS version:**
Ubuntu 17.04

**Version of Insomnia Application:**
1.4.1 (same

[2017-05-06 19:38] alexanderepstein commented on #36
This seems to be a bug specific to libappindicator not working with the new DE found on Ubuntu 17 this what I found as a workaround http://www.webupd8.org/2017/04/fix-appindicator-not-working-for.html

[2017-05-06 19:38] #36 closed

[2017-05-06 19:50] nicholaslgoodman commented on #36
Thank you. I was able to fix the issue following those instructions.

[2017-05-06 20:12] alexanderepstein commented on #36
@nicholaslgoodman Glad to hear it

[2017-05-06 21:20] alexanderepstein commented on #35
@northern11 I hope it helps as well! Version 1.4.2 was just released with the bugfixes mentioned in this thread

[2017-05-06 23:01] MegaApuTurkUltra opened #37 "Bright blue background"
**Issue Label:** Bug

**Description of bug or feature enhancement:**
Viewing blue light at night [is harmful](http://www.health.harvard.edu/staying-healthy/blue-light-has-a-dark-side). Please change the background color of the app to something a bit less jarring.

**OS and OS version:**
Any

**Version of Insomnia Application:**
Any current

[2017-05-06 23:13] alexanderepstein commented on #37
I was planning on throwing in a dark theme option. I totally agree the color scheme goes against the purpose of the application. Hopefully this will come with the next release.

[2017-05-06 23:54] luchillo17 opened #38 "[Bug] Unordered optimal sleeping times"
**Issue Label:** [Bug]

**Description of bug or feature enhancement:**
The optimal sleeping times are unordered, is hard to look when your next optimal sleep time is.

**Version of Insomnia Application:**
1.4.2

**Demonstration:**
To show it in order should show 19:45, 21:15, 22:45, 00:15, 01:45 and 02:45 (which might be wrong since intervals were switching between 15 and 45 except 2:45 one).
![im

[2017-05-07 00:27] alexanderepstein commented on #38
This definitely showed up with me resetting the times one hour after last notification. As you can see the first element is only an hour away from the last rather than an hour and 30 mins away. I will fix this and have a new release up tomorrow

[2017-05-07 01:13] alexanderepstein commented on #38
@luchillo17 fixed in latest commit new release will be up tomorrow

[2017-05-07 01:13] #38 closed

[2017-05-07 16:46] alexanderepstein commented on #37
@priscilamtzfraire could you please help me out in designing a darker U.I. I decided instead of making it an option it would just make sense if the entire application was darker. I tried to do this by editing the color values in main.css but I couldn't come up with a blend of colors that actually harmonized like you did.

[2017-05-08 14:02] priscilamtzfraire commented on #37
Sure @alexanderepstein I'll be working on it and I'll share some screenshots with you guys, so I can receive some feedback :)

[2017-05-08 17:42] alexanderepstein commented on #37
@priscilamtzfraire awesome thanks so much if it helps in designing accent colors the there will be a new logo instead of the three z's it can be found here https://www.shareicon.net/data/128x128/2016/04/22/753637_wizard_512x512.png

[2017-05-08 17:43] alexanderepstein commented on #37
@priscilamtzfraire The logo change comes with the fact I am changing the name of this project to Sandman so that it is unique. I am planning on changing the name with the release of the darker U.I.

[2017-05-09 17:15] alexanderepstein commented on #37
@priscilamtzfraire Even though its the same version number it is a new design that is up right now as I officially changed the name, please look at the new color scheme and make it better than it is now. I can tell i didn't get it 100% right and am trying to perfect the look before i continue adding to the functionality

[2017-05-09 19:22] priscilamtzfraire commented on #37
@alexanderepstein Got it :) Let me see what I can do, but you did a pretty good job! 👍

[2017-05-10 04:40] priscilamtzfraire commented on #37
@alexanderepstein I updated some colors using a darkened or lightened version of the base color you used as the background (#622569). Please let me know your comments :)

[2017-05-10 05:14] alexanderepstein commented on #37
@priscilamtzfraire I love it the accents you picked for colors look really good, about to merge over to master and set up a new release 👍

[2017-05-10 05:14] #37 closed

[2017-05-18 07:09] alexanderepstein commented on #10
Not worth it because of issue as stated above

[2017-05-18 07:09] #10 closed

[2017-05-18 07:11] #26 closed

[2017-05-18 07:11] #15 closed

[2017-05-18 14:56] luchillo17 commented on #10
Actually the package mentioned tells you which files will be left behind, you can configure the Electron uninstaller to just remove such files, not that many, just need to keep in mind the OS in which you're when uninstalling.

[2017-05-18 17:38] alexanderepstein commented on #10
@luchillo17 Although it does mention it I do not have the ability to configure my uninstaller as far as I know. On windows you just remove my project folder, on mac you just get rid of the app, only on debian and redhat linux is where you actually remove it through the package manager since it was installed through it. Essentially what I'm trying to say is on Mac & Windows the user is just deletin

[2017-05-18 20:01] luchillo17 commented on #10
Oh i see, you don't have an installer nor uninstaller pipeline with your electron app.

[2017-06-02 05:26] alexanderepstein commented on #8
Not necessary since i cleaned up the codebase and the script.js file is way more readable

[2017-06-02 05:26] #8 closed

[2017-06-04 23:23] appcenter[bot] opened #40 "Create a Debian control file"
AppCenter Dashboard could not find a `debian/control` file for packaging. Without this file,
we don't know package dependencies, or the source maintainer. Please create this
and resubmit your package for AppCenter Dashboard.

---

For more information, see:
- [elementary documentation](https://elementary.io/docs/code/getting-started#debian-control)
- [Debian documentation](https://www.debian.org/d

[2017-06-04 23:35] alexanderepstein commented on #40
Elementary OS doesnt work with electron apps https://github.com/elementary/houston/wiki/Before-You-Publish

[2017-06-04 23:35] #40 closed

[2017-06-09 14:16] r15ch13 opened #41 "Restart notification pops up every hour."
**Issue Label:**
* [x] bug
* [ ] feature
* [ ] enhancement

**Description of bug or feature enhancement:**
Restart notification pops up every hour.
Bug appears to be in this line: [script.js#L474](https://github.com/alexanderepstein/Sandman/blob/master/pages/js/script.js#L474)
After ~6 hours of uptime, `os.uptime()` returns `518970.71...`.  `518970.71 / 60 / 60` results in `144.15...` which is alw

[2017-06-09 14:30] alexanderepstein commented on #41
I believe you mean ```os.uptime()``` right? And I have it set up right that it checks if you are over your uptime  preference every hour on the hour if you are you will receive a notification I was thinking of changing this check myself over to 3 hours. However from what i gather every time your computer turns on and off the value of ```os.uptime()``` will reset back to 0. With that said Im not su

[2017-06-09 14:31] r15ch13 commented on #41
Will restart now to check that 👍

[2017-06-09 14:34] alexanderepstein commented on #41
@r15ch13 Awesome, let me know how that goes

[2017-06-09 14:34] r15ch13 commented on #41
`os.uptime()` now returns 70 seconds. This works like it should.

[2017-06-09 14:35] alexanderepstein commented on #41
@r15ch13 Glad to hear it! For now you can use the workaround mentioned above to avoid the notification if you don't like restarting your computer 😄

[2017-06-09 14:38] r15ch13 commented on #41
Hm okay I think nodejs did something strange because I started my computer about 6 hours ago. Maybe there is something wrong with nodejs. 518970 seconds are 6 days ... I didn't math correctly 😁

[2017-06-09 14:42] alexanderepstein commented on #41
@r15ch13 Interesting, seems like for some reason it didn't catch that restart if I head this pop again from another user I will definitely look into finding another way to grab the uptime through the systems native module by executing a shell command. For now ill just keep it with nodejs and consider this a fluke and haha I hadn't even noticed myself! 😆

[2017-06-09 14:44] r15ch13 commented on #41
Found it! Only restarting resets `os.uptime` to 0. If you shutdown (via powerbutton or startmenu) it will not reset.

[2017-06-09 14:46] alexanderepstein commented on #41
@r15ch13 Oh wow that actually is a bug to my logic I never would have thought that to be true... I will have to test this on other platforms to see if its specific to windows. And ill work on it later today

[2017-06-09 14:47] r15ch13 commented on #41
Uptime in the Task Manager doesn't reset either, which means it's a Windows thing :smile:
Strange Microsoft logic ...

[2017-06-09 14:48] alexanderepstein commented on #41
@r15ch13  that is very weird Ill check my windows system later today to see if i get the same response because it just seems not logical for them to reset that time to 0.

[2017-06-09 14:50] alexanderepstein commented on #41
@r15ch13 btw what version os are you on? I forgot to add that field to the issue template 😞

[2017-06-09 14:55] r15ch13 commented on #41
Related https://superuser.com/a/815721/248902 (`shutdown /p` resets the update correctly)

Windows 10, 64bit without creators update. (10.0.14393)

[2017-08-04 17:50] ballek opened #42 "Optimal Sleeping Times not displaying properly"
**Issue Label:**
* [x ] bug
* [ ] feature
* [ ] enhancement

**Description of bug or feature enhancement:**
Times are listed in the dreaded NaaN
<img width="565" alt="screen shot 2017-08-04 at 1 49 15 pm" src="https://user-images.githubusercontent.com/7898004/28980453-c69a6f8e-791b-11e7-899a-a4c96cfcb2d0.png">

**OS and OS version:**
* [x ] Mac
* [ ] GNU Linux 32 Bit
* [ ] GNU Linux 64 Bit
* [ ] R

[2017-08-04 18:09] ballek commented on #42
@luchillo17 fixed it! Thank you!

[2017-08-04 18:09] #42 closed

[2017-08-04 19:57] luchillo17 commented on #42
Most likely a change on the way the app store the settings making the previous settings unreachable, at least is easy to fix if you know how.

[2017-08-29 21:48] DavidXochipilli opened #43 "Android Sandman"
Hi @alexanderepstein,
thanks for your awesome application!
Is a version for [Android](https://www.android.com/) planned or can you recommend an Android app?
Thank you so much! 😘

[2017-08-29 22:13] luchillo17 commented on #43
That's an awesome idea, using Ionic 3 would allow you to use JS for most of the app except maybe the part that would need a background service, maybe it suffice with a Service Worker, or maybe you need a Cordova plugin for that, but i'm not certain of that.

[2017-08-29 22:54] alexanderepstein commented on #43
The closest thing to an android app I wanted to do was #5. Would love to see an android app or some kind of integration though :)

[2017-10-03 18:09] CodingFrieda commented on #43
What do you think of adding the [label:hacktoberfest](https://hacktoberfest.digitalocean.com/) @alexanderepstein?

[2017-10-03 22:47] alexanderepstein commented on #43
@CodingFrieda if you think it's a good idea why not, I'd love to see this happen!

[2019-11-23 20:55] JohnnyRocketFingers opened #47 "Add hibernation/sleep to notification."
**Issue Label:**
 * [X] feature

**Description of bug or feature enhancement:**
User should have the option to put their computer into hibernation/sleep, not just shutdown. Useful as it leaves applications where they were before the hibernation/sleep.